h1{
    text-align: center;
}
.jumbotron{
    color:black;
    text-align: centre;
    margin: 20px;
    }
  .jumbotron:hover{
    border-style: solid;
    border-color: hotpink;
    opacity: 0.5;
  
  }