
body{
  background-color:rgba(0,0,0,2);
  font-family: 'Courier New', Courier, monospace;
}
ul{
  text-decoration: none;
}
.container{
  font-size:15px; color:#2c4f7c;
}
li{
  color:#3a4a84; 
  list-style-type: none; 
  font-size:30px;
}
h6{
  text-decoration:underline;
}
p{
  font-size:20px; font-family: 'Handlee';
}
a{
  border:1px solid black;
}
h1{
  text-align: center;
  color: white;
}
h2{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.row{
  color: white;
}