
body{
  background-color:aliceblue;
  font-family: 'Courier New', Courier, monospace;
}
ul{
  text-decoration: none;
}
.container{
  font-size:15px; color:#2c4f7c;
}
li{
  color:#3a4a84; 
  list-style-type: none; 
  font-size:30px;
}
h6{
  text-decoration:underline;
}
p{
  font-size:15px; 
  font-family: 'Handlee' monospace;
  color:black; 
}
/* a{
  border:0.9px solid black;
  padding: 0px; */
  /* margin-left: 2px; */
/* } */
h1{
  text-align: center;
  color: black;
}
h2{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
 .row{
  color: black;
  padding: 20px;
  background-color: gray;
} 
h4{
  color:black; 
  font-family: monospace;
  
} 
.news{
  box-shadow:2px 2px 2px 2px lightgrey; 
  height:500px; 
  padding: 15px;
}
.btn{
  background-color: grey;
}