h1{
    text-align: center;
}
body {
  margin-top: 100px;
  background-color: #537895;
  background: -webkit-linear-gradient(#cfd9df, #e2ebf0);
}

  .source_url {
    margin: 50px auto;
    text-align: center;
}

img {
    width: 100%;
    height: 100px;
}
.text-block {
  display: inline-block;
  position: inherit;
}
.
