{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content%}

<div style="display: flex; flex-wrap: wrap; padding-bottom: 50px;">
    {{macro.displayArticlesList(articles)}}
</div>
{% endblock %}

{% macro displayArticlesList(articles_list) %}
{% for article in articles_list %}
{%if article.urlToImage%}
<div style="box-shadow:2px 2px 2px 2px lightgrey; height:500px; padding: 15px;" class="panel panel-default">
    <img class="img-responsive" src="{{article.urlToImage}}" alt="image">
    <h4 style="color:black; font-family: monospace;"> {{article.title}} </h4>
    <p style="color:black; font-family: monospace;">{{article.description}}</p>
    <p style="color:black; font-family: monospace;">Created: {{article.publishedAt}}</p>
    <a href="{{article.url}}" class="btn btn-success">Full Story</a>

</div>
{%endif%}
{% endfor %}
{% endmacro %}

