{% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %} 
{% block content%}

<div style="display: flex; flex-wrap: wrap; padding-bottom: 50px;">
    {{macro.displayArticlesList(articles)}}
</div>
{% endblock %}

{% macro displayArticlesList(articles_list) %}
{% for article in articles_list %}
{%if article.urlToImage%}
<div class="news">
<div class="panel panel-default">
    <img class="img-responsive" src="{{article.urlToImage}}" alt="image">
    <h4> {{article.title}} </h4>
    <p>{{article.description}}</p>
    <p>Created: {{article.publishedAt}}</p>
    <a href="{{article.url}}" class="btn btn-success">Full Story</a>

</div>
</div>
{%endif%}
{% endfor %}
{% endmacro %}

