{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the Breaking news updates </title>
        {% endif %}
</head>
<body>
    <div class="jumbotron">
        <h1>News Highlight</h1>
        <h3>{{title}}</h3>
    </div>
   <!-- <div class="container">
    {{macro.displaySources}}
   </div> -->

   <!-- Content block -->
   {% block content %}

   <div class="container">
     <h2>General News</h2>
    <ul>
      {{macro.displaySources_list(general)}}
    </ul>
    <br><br>
    <h2>Business</h2>
    <ul>
      {{macro.displaySources_list(business)}}
    </ul>
    <br><br>
    <h2>Sports</h2>
    <ul>
      {{macro.displaySources_list(sports)}}
    </ul>
  </div>
  {% endblock%}   
</body>
</html>

